/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  scroll-behavior: smooth;
}

#hero-img {
  background-image: url("./images/yard_hero.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.logo-font {
  font-family: "Orbitron", sans-serif;
}
